version: '3.7'

networks:
  local-network:
    name: local-network
    external: true

services:

  localstack:
    container_name: localstack
    image: localstack/localstack:1.2.0
    environment:
      - SERVICES=sqs
      - DEBUG=${DEBUG-}
      - AWS_DEFAULT_REGION=eu-west-2
      - DEFAULT_REGION=eu-west-2
      - HOSTNAME=localstack
      - LAMBDA_EXECUTOR=docker
      - DOCKER_HOST=unix:///var/run/docker.sock
    ports:
      - "4566:4566"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - local-network

  run-tests:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      AWS_ACCESS_KEY_ID: XXX
      AWS_SECRET_ACCESS_KEY: XXX
      AWS_ENDPOINT: http://localstack:4566
      AWS_REGION: eu-west-2
    container_name: run-tests
    networks:
      - local-network