name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

env:
  TF_DOCS_VERSION: 0.16.0

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Terraform Docs
      run: |
        curl -sSLo ./terraform-docs.tar.gz https://terraform-docs.io/dl/v${TF_DOCS_VERSION}/terraform-docs-v${TF_DOCS_VERSION}-linux-amd64.tar.gz 
        tar -xzf terraform-docs.tar.gz 
        chmod +x terraform-docs 
        mv terraform-docs /usr/local/bin/terraform-docs
    - uses: actions/setup-python@v3
    - uses: pre-commit/action@v3.0.0
    - name: Commit & Push changes
      uses: actions-js/push@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}