name: Terraform Plan & Apply examples

on:
#  push:
#    branches:
#      - main
#  pull_request:
  workflow_dispatch:

env:
  WORKDIR: examples/

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.WORKDIR }}
    steps:
      - uses: actions/checkout@v3
      - name: Run localstack
        run: docker-compose up --exit-code-from localstack
